html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

#result {
  border-top: 1em #1de9b6 solid;
  box-sizing: border-box;
  height: 30vh;
}

.wrap {
  height: 70vh;
  display: flex;
}

#numblock,
#operands {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#numblock {
  background: #424242;
  /* width: 65%; */
  flex: 1;
}
#operands {
  background: #616161;
  border-right: 1em #00e676 solid;
  /* border-right: 1em #97FFA0 solid; */
  width: 30%;
}
#numblock div,
#operands div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  cursor: pointer;
  /* border-radius: 10px; */
  transition: .4s;
  color: white;
}
#numblock div {
  width: 33%;
}
#operands div {
  width: 100%;
}
#numblock div:hover,
#operands div:hover {
  background: #757575;
}
#numblock div:active,
#operands div:active {
  background: #212121;
}

#input-current {
  color: #424242;
  font-size: 2em;
}
#input-history {
  color: #616161;
  font-size: 1.5em;
}
